@font-face {
  font-family: 'venita-icons';
  src:  url('fonts/venita-icons.eot?rjn8n');
  src:  url('fonts/venita-icons.eot?rjn8n#iefix') format('embedded-opentype'),
    url('fonts/venita-icons.ttf?rjn8n') format('truetype'),
    url('fonts/venita-icons.woff?rjn8n') format('woff'),
    url('fonts/venita-icons.svg?rjn8n#venita-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="venita-"], [class*=" venita-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'venita-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.venita-times-icon:before {
  content: "\e90b";
}
.venita-edit-icon:before {
  content: "\e90a";
}
.venita-attachment-icon:before {
  content: "\e908";
}
.venita-reply-icon:before {
  content: "\e909";
}
.venita-long-back-arrow:before {
  content: "\e907";
}
.venita-delete-icon:before {
  content: "\e905";
}
.venita-pencil-icon:before {
  content: "\e906";
}
.venita-search-icon:before {
  content: "\e904";
}
.venita-bell-icon:before {
  content: "\e900";
}
.venita-calender-icon:before {
  content: "\e901";
}
.venita-reopen-icon:before {
  content: "\e902";
}
.venita-user-icon:before {
  content: "\e903";
}
