@media screen and (max-width: 1800px) {
    .input-fields {
        max-width: 400px;
        top: 50%;
        transform: translateY(-50%);
    }
    .login-forgot-description {left: 17%;}
}
@media screen and (max-width: 1230px) {
    .input-fields {
        max-width: 350px;
    }
    .service-request-search-filter-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service-request-filter-wrap {
        width: 100%;
        padding: 30px 0;
    }
    .priprity-filter {
        max-width: 50%;
        margin: 10px 20px 0 20px;
    }
    .request-filter {
	max-width: 148px;
	margin: 10px auto 0 auto;
    padding: 0;

}
.request-filter#sr_status{}
    .service-request-form {
        display: block;max-width: 100%;
    }
    .search-box,
    .all-users-table .search-box,
    .all-users-table .select-box {display: block;max-width: 100%;}
    .search-box input {border-right: none;border-bottom: 1px solid #e2e4ea;}
    .select-box, .date-box {display: inline-block;max-width: 49%;}
    .date-box input {background-position: top 50% right 10px;}
    .service-request-form-inner {flex-direction: column;}
    .service-request-search-filter-wrap .submit-btn .btn {margin: 20px 0 0;padding: 0 60px;}


}


@media screen and (max-width: 991px) {
    .login-box {display: none;}
    .input-fields {top: 50%;left:50%;transform: translate(-50%,50%);max-width: 500px;}
    .login-forgot-description {display: none;}
    .navbar-expand-md .navbar-nav .nav-link {padding: 30px 15px;}
    .requset-to-wrap {flex-direction: column;justify-content: center;align-items: center;margin-top: 20px;}
    .request-actions {display: flex;padding-top: 30px;text-align: center;align-items: center;}
    .grid_request .request-actions, .grid_request .request-to {
    width: 100%;
}   
.grid_request .grid_inner{display: inline-block;}
.grid_request .grid_inner .request-item{display: inline-block;width: auto;padding-right: 40px;}
    .requested-on-date {padding: 0 30px;}
    .request-to {align-self: flex-start;}
    .request-item {padding-right: 50px;padding-bottom: 20px;}
    table.dataTable tbody th:last-child, table.dataTable tbody td:last-child {text-align: left;}
    table.dataTable .action-icon {margin-right: 15px;margin-left: 0;}

    .service-request-details--info .details-info-title .title {font-size: 16px;padding: 15px;}
    .details-info-title .name, .details-info-individual {padding: 15px;}
    .details-info-title .name .title-span, .details-info-individual .title-span {display: block;width: 100%;}
    .details-info-list {padding: 0;}
    .details-info-individual {padding: 15px;}
    .details-info-title .name, .details-info-individual {display: block;}
    .details-info-individual .title-span, .details-info-individual .name-span {font-size: 14px;}
    .service-request-history > .history-title {font-size: 14px;padding: 15px;}
    .history-individual {padding: 15px;}
    .history-individual .history-info {display: block;}
    .history-individual .history-info .date-n-time,.history-individual .history-info .status {display: block;width: 100%;}

    .attach-file-input .input-files-wrap {max-width: 300px;}

    .form-with-add-button .attach-file-input .input-files-wrap {max-width: 473px;}

}
@media screen and (max-width: 767px) {
    .input-fields {padding: 0 15px;top:0;transform: translate(-50%,10%);}
    .back-button-div {text-align: center;}
    .navbar {padding: 0 10px;}
    .navbar-expand-md .navbar-nav .nav-link {justify-content: flex-end;padding: 10px 15px;}
    .notif-number {position: static;}
    .navbar-nav .bg-darker {background-color: #fff;}
    .navbar-expand-md .navbar-nav .nav-link.dropdown-toggle {/*border: none;*/}
    .dropdown-item {/*text-align: right;*/}
    .dropdown-menu {border: none;}
    .footer-inner {flex-direction: column;}
    .social-sharing-links {padding-bottom: 30px;}
    .copyrights {order: 3;padding-top: 30px;}
    .social-sharing-links ul li {margin: 0 15px;}
    .select-box, .date-box {max-width: 100%;}
    .select-box select {border-right: none;border-bottom: 1px solid #e2e4ea;}
    .priprity-filter, .request-filter {margin: 0 5px;}
    .request-actions {flex-direction: column-reverse;}
    .requested-on-date {padding: 0 0 30px;}
    .action-buttons {justify-content: center;}
    .request-individual {padding: 20px;}
    .request-title {font-size: 18px;}
    .request-individual.mobile-view-accordion .requset-to-wrap {/*display: none;*/}
    .service-request-details .row {/*flex-direction: column-reverse;*/}

    .details-info-list {display: none;}
    .show-items .details-info-list {display: block;}
    .history-details {display: none;}
    .show-items .history-details {display: block;}

    .details-info-title .name,
    .service-request-history > .history-title {position: relative;}
    .details-info-title .title::before,
    .service-request-history > .history-title::before {content: '\f107';font-family: "Font Awesome 5 Free";font-weight: 900;font-size: 22px;position: absolute;top: 50%;transform: translateY(-50%);right: 20px;}

    .chat-inner .received-message,.chat-inner .sent {max-width: 90%;}

    .attach-file-input {flex-direction: column;}
    .attach-file-input .add-more-button {margin-left: 0;margin-bottom: 20px;}
    .card-box, .reply-box form {padding: 20px;}
    .reply-box {padding: 0;}

    .attach-file-input .input-files-wrap {max-width: 100%;}

    .service-requests-action-buttons {padding-top: 30px;}

    .create-service-request-box .add-more-button {margin-top: 0;margin-bottom: 30px;margin-left: 0;}

    .form-with-add-button {flex-direction: column;align-items: flex-end;}
    .divfileupload .form-with-add-button {flex-direction: row;align-items: inherit;}
    .nav_menu {
	background-color: #f94b91;
	margin: 10px 0 50px;
}
.navbar-expand-md .nav_menu .navbar-nav .nav-link {
	justify-content: flex-start;
	padding: 5px 15px;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
.nav_menu .dropdown-item{background-color: transparent;font-weight: 600;color: #fff;}
.nav_menu .dropdown-item:last-child{border-bottom: 0;}
.nav_menu .navbar-nav .bg-darker{background-color: transparent;}
.nav_menu .dropdown-menu{background-color: transparent;padding: 0 20px;}
}
@media screen and (max-width: 480px) {
    .remember-forgot-password {flex-direction: column;}
    .remember-forgot-password .remember-me-div {padding-bottom: 20px;}
}